<% choices, choice = detail.pluralize.to_sym, detail.to_sym %>

<tr>
  <td><%= label %></td>
  <td>
    <select name="user[<%= detail %>]">
      <% User.send(choices).each do |key, value| %>
        <option
          value="<%= key %>"
          <%= @user.send(choice) == key ? "selected" : ""  %> >
          <%= t( key ) %>
        </option>
      <% end %>
    </select>
  </td>
</tr>


