
  <div class="logo-wrapper">
    <img id="logo" src="<%= asset_path("heart.png") %>">
    <h1 class="logo">OKCLONE</h1>
  </div>

<main id="sign-up">
<h2>About you:</h2>
<br>
<form class="sign-up" action="<%= users_url %>" method="POST">
  <%= auth_token %>
  <label>username:
    <input
      type="text"
      value="<%= @user.username %>"
      name="user[username]">
  </label>
 <br>
  <label>email:
    <input
      type="text"
      value="<%= @user.email %>"
      name="user[email]">
  </label>
 <br>
  <label>password:
    <input
      type="password"
      name="user[password]">
  </label>
 <br>
  <label>birthday:
    <input
      type="date"
      value="<%= @user.birthday %>"
      name="user[birthday]">
  </label>
 <br>
  <label>location: (please enter zip code)
    <input
      type="text"
      value="<%= @user.zip_code %>"
      name="user[zip_code]">
  </label>
 <hr>
  <button>SIGN UP</button>

</form>

</main>