<header>
  <img src="http://cityyearnh.files.wordpress.com/2011/02/boat.jpg" id="profile-pic">
  <h3 id="basic-info"><%= basic_info(@user) %><h3>
</header>
<content>
  <nav id="tabs">
    <a href="">INFO</a>
    <a href="">PHOTOS</a>
    <a href="">QUESTIONS</a>
  </nav>

  <section id="info">
    <section id="essays">
      <form action="<%= user_url(@user) %>" method="POST">
        <input type="hidden" name="_method" value="PATCH">
        <%= auth_token %>
        <%= essays(@user, true) %>
        <input type="submit" value="SAVE CHANGES">
      </form>
    </section>

    <section id="details">
      <form action="<%= user_url(@user) %>" method="POST">
        <input type="hidden" name="_method" value="PATCH">
        <%= auth_token %>
      <table>
        <tr>
          <td>Gender</td>
          <td>
            <select name="user[gender]">
              <% User.genders.each do |key, value| %>
                <option value="<%= key %>" selected><%= key %></option>
              <% end %>
            </select>
          </td>
        </tr>
        <tr>
          <td>Orientation</td>
          <td>
            <select name="user[orientation]">
              <% User.orientations.each do |key, value| %>
                <option value="<%= key %>" selected><%= key %></option>
              <% end %>
            </select>
          </td>
        </tr>
        <tr>
          <td>Ethnicity</td>
          <td>
            <select name="user[ethnicity]">
              <% User.ethnicities.each do |key, value| %>
                <option value="<%= key %>" selected><%= key %></option>
              <% end %>
            </select>
          </td>
        </tr>
        <tr>
          <td>Height</td>
          <td><input type="text" value="<%= @user.height %>" name="user[height]"></td>
        </tr>
        <tr>
          <td>Body type</td>
          <td>
            <select name="user[body_type]">
              <% User.body_types.each do |key, value| %>
                <option value="<%= key %>" selected><%= key %></option>
              <% end %>
            </select>
          </td>
        </tr>
        <tr>
          <td>Diet</td>
          <td>
            <select name="user[diet]">
              <% User.diets.each do |key, value| %>
                <option value="<%= key %>" selected><%= key %></option>
              <% end %>
            </select>
          </td>
        </tr>
        <tr>
          <td>Smokes</td>
          <td>
            <select name="user[smokes]">
              <% User.smokes.each do |key, value| %>
                <option value="<%= key %>" selected><%= key %></option>
              <% end %>
            </select>
          </td>
        </tr>

        <tr>
          <td>Drinks</td>
          <td>
            <select name="user[drinks]">
              <% User.drinks.each do |key, value| %>
                <option value="<%= key %>" selected><%= key %></option>
              <% end %>
            </select>
          </td>
        </tr>
        <tr>
          <td>Drugs</td>
          <td>
            <select name="user[drugs]">
              <% User.drugs.each do |key, value| %>
                <option value="<%= key %>" selected><%= key %></option>
              <% end %>
            </select>
          </td>
        </tr>
        <tr>
          <td>Religion</td>
          <td>
            <select name="user[religion]">
              <% User.religions.each do |key, value| %>
                <option value="<%= key %>" selected><%= key %></option>
              <% end %>
            </select>
          </td>
        </tr>
        <tr>
          <td>Sign</td>
          <td>
            <select name="user[sign]">
              <% User.signs.each do |key, value| %>
                <option value="<%= key %>" selected><%= key %></option>
              <% end %>
            </select>
          </td>
        </tr>
        <tr>
          <td>Education</td>
          <td>
            <select name="user[education]">
              <% User.educations.each do |key, value| %>
                <option value="<%= key %>" selected><%= key %></option>
              <% end %>
            </select>
          </td>
        </tr>
        <tr>
          <td>Job</td>
          <td>
            <select name="user[job]">
              <% User.jobs.each do |key, value| %>
                <option value="<%= key %>" selected><%= key %></option>
              <% end %>
            </select>
          </td>
        </tr>
        <tr>
          <td>Income</td>
          <td>
            <select name="user[income]">
              <% User.incomes.each do |key, value| %>
                <option value="<%= key %>" selected><%= key %></option>
              <% end %>
            </select>
          </td>
        </tr>
        <tr>
          <td>Relationship status</td>
          <td>
            <select name="user[relationship_status]">
              <% User.relationship_statuses.each do |key, value| %>
                <option value="<%= key %>" selected><%= key %></option>
              <% end %>
            </select>
          </td>
        </tr>
        <tr>
          <td>Relationship type</td>
          <td>
            <select name="user[relationship_type]">
              <% User.relationship_types.each do |key, value| %>
                <option value="<%= key %>" selected><%= key %></option>
              <% end %>
            </select>
          </td>
        </tr>
        <tr>
          <td>Offspring</td>
          <td>
            <select name="user[offspring]">
              <% User.offsprings.each do |key, value| %>
                <option value="<%= key %>" selected><%= key %></option>
              <% end %>
            </select>
          </td>
        </tr>
        <tr>
          <td>Pets</td>
          <td>
            <select name="user[pets]">
              <% User.pets.each do |key, value| %>
                <option value="<%= key %>" selected><%= key %></option>
              <% end %>
            </select>
          </td>
        </tr>
        <tr>
          <td>Looking for:</td>
          <td></td>
        </tr>
        <tr>
          <td>Age</td>
          <td><input type="text" value="<%= @user.min_age %>" name="user[min_age]">
            -
            <input type="text" value="<%= @user.max_age %>" name="user[max_age]">
          </td>
        </tr>
        <tr>
          <td>Status</td>
          <td>
            <select name="user[looking_for_status]">
              <% User.looking_for_statuses.each do |key, value| %>
                <option value="<%= key %>" selected><%= key %></option>
              <% end %>
            </select>
          </td>
        </tr>
        <tr>
          <td>Gender</td>
          <td>placeholder</td>
        </tr>
        <tr>
          <td>Interaction</td>
          <td>placeholder</td>
        </tr>
      </table>
      <input type="submit" value="SAVE CHANGES">
      </form>
    </section>
  </section>

  <section id="photos">
  </section>

  <section id="questions">
    <% @user.responses.each do |response| %>
      <%= render "edit_response", response: response %>
    <% end %>
  </section>
</content>




      <!--
      t.integer :gender
      t.integer :orientation,       default: 0
      t.integer :ethnicity,         default: 0
      t.integer :height
      t.integer :body_type,         default: 0
      t.integer :diet,              default: 0
      t.integer :smokes,            default: 0
      t.integer :drinks,            default: 0
      t.integer :drugs,             default: 0
      t.integer :religion,          default: 0
      t.integer :sign,              default: 0
      t.integer :education,         default: 0
      t.integer :job,               default: 0
      t.integer :income,            default: 0
      t.integer :relationship_status, default: 0
      t.integer :relationship_type, default: 0
      t.integer :offspring,         default: 0
      t.integer :pets,              default: 0
      t.integer :min_age
      t.integer :max_age
      t.integer :looking_for_status, default: 0
      t.boolean :is_looking_for_men
      t.boolean :is_looking_for_women
      t.boolean :is_looking_for_friends
      t.boolean :is_looking_for_ltdating
      t.boolean :is_looking_for_stdating
      t.boolean :is_looking_for_sexitimes -->