<style>
  #tabs {
    background: transparent;
  }

  #info, #questions {
    border: 1px solid lightgray;
    padding: 20px;
    margin: 20px 0px;
  }
  #essays {
    margin-bottom: 10px;
    border-bottom: 1px solid lightgray;
    padding-bottom: 10px;
  }
  input[type="submit"] {
    padding: 2px;
    font-weight: bold;

  }
  #more {
    font-weight: bold;
    font-size: 16px;
  }

  #basic-info {
      color: #6666CC;
      font-weight: bold;
      font-size: 20px;

  }
</style>

<header>
  <img src="http://cityyearnh.files.wordpress.com/2011/02/boat.jpg" id="profile-pic">
  <h3 id="basic-info"><%= basic_info(@user) %><h3>
</header>
<content>
  <nav id="tabs">
    <a href="">INFO</a>
    <a href="">PHOTOS</a>
    <a href="">QUESTIONS</a>
  </nav>

  <section id="info">
    <section id="essays">
      <%= render "essays_form", user: @user %>
    </section>

    <section id="details">
      <form action="<%= user_url(@user) %>" method="POST">
        <input type="hidden" name="_method" value="PATCH">
        <%= auth_token %>
      <table>
        <%= render "edit_detail", label: "Gender", detail: "gender" %>
        <%= render "edit_detail", label: "Orientation", detail: "orientation" %>
        <%= render "edit_detail", label: "Ethnicity", detail: "ethnicity" %>

        <tr>
          <td>Height</td>
          <td>
            <input
              type="text"
              value="<%= @user.height %>"
              name="user[height]">
          </td>
        </tr>

        <%= render "edit_detail", label: "Body type", detail: "body_type" %>
        <%= render "edit_detail", label: "Diet", detail: "diet" %>
        <%= render "edit_detail", label: "Smokes", detail: "smokes" %>
        <%= render "edit_detail", label: "Drinks", detail: "drinks" %>
        <%= render "edit_detail", label: "Drugs", detail: "drugs" %>
        <%= render "edit_detail", label: "Religion", detail: "religion" %>
        <%= render "edit_detail", label: "Sign", detail: "sign" %>
        <%= render "edit_detail", label: "Education", detail: "education" %>
        <%= render "edit_detail", label: "Income", detail: "income" %>
        <%= render "edit_detail", label: "Relationship status", detail: "relationship_status" %>
        <%= render "edit_detail", label: "Relationship type", detail: "relationship_type" %>
        <%= render "edit_detail", label: "Children", detail: "offspring" %>
        <%= render "edit_detail", label: "Pets", detail: "pets" %>


        <tr>
          <td>Looking for:</td>
          <td></td>
        </tr>
        <tr>
          <td>Age</td>
          <td>
            <input
              type="text"
              value="<%= @user.min_age %>"
              name="user[min_age]">
            -
            <input
              type="text"
              value="<%= @user.max_age %>"
              name="user[max_age]">
          </td>
        </tr>

        <%= render "edit_detail", label: "Status", detail: "looking_for_status" %>
        <tr>
          <td>Gender</td>
          <td>placeholder</td>
        </tr>

        <tr>
          <td>Interaction</td>
          <td>placeholder</td>
        </tr>
      </table>
      <input type="submit" value="SAVE CHANGES">
      </form>
    </section>
  </section>

  <section id="photos">
  </section>

  <section id="questions">
    <% @user.responses.each do |response| %>
      <%= render "responses/edit_response", response: response %>
    <% end %>

    <br>

    <a id="more" href="<%= new_response_url %>">ANSWER MORE QUESTIONS!</a>
  </section>
</content>

