<article>
  <form action="<%= responses_url %>" method="POST">
    <%= auth_token %>

    <h5><%= question.text %></h5>

      <% question.answers.each do |answer| %>
        <label><%= answer.text %>
          <input
            type="radio"
            name="response[answer_id]"
            value="<%= answer.id %>"
            <%= answer.id == response.answer_id ? "checked" : "" %> >
        </label>
        <br>
      <% end %>
      <label> explain:
        <textarea name="response[explanation]">
           <%= response.explanation  %>
        </textarea>
      </label>

    <input type="submit" value="SAVE">
  </form>
</article>
