<p>JUST TESTING: INFO</p>

<% var essays = OKC.formatting_data.get("current_essays") %>
<% var details = OKC.formatting_data.get("details") %>

<section id="details">
  details
</section>

<section id="essays">
  <% _.each(essays, function (essay) { %>
    <h3><%= essay.text %></h3>

    <% if (editing[essay.key]) { %>
      <form data-id="<%= essay.key %>">
        <textarea name="user[<%= essay.key %>]">
          <%= user.escape(essay.key) %>
        </textarea>
        <input type="submit" value="SAVE">
      </form>

    <% } else { %>
      <p><%= user.escape(essay.key) %></p>
      <button class="edit" data-id="<%= essay.key %>">EDIT</button>

    <% } %>
  <% }); %>
</section>

