<% var essays = OKC.formatting_data.get("current_essays") %>
<% var details = OKC.formatting_data.get("details") %>

<section id="essays">
  <% _.each(essays, function (essay) { %>
    <h3><%= essay.text %></h3>

    <% if (editing[essay.key]) { %>
      <form data-id="<%= essay.key %>">
        <textarea name="user[<%= essay.key %>]">
          <%= user.escape(essay.key) %>
        </textarea>
        <input type="submit" value="SAVE">
      </form>

    <% } else { %>
      <p><%= user.escape(essay.key) %></p>
      <button class="edit" data-id="<%= essay.key %>">EDIT</button>

    <% } %>
  <% }); %>
</section>


<section id="details">
  <form data-id="details">
    <table>
      <% _.each(details, function (detail) { %>
        <tr>
          <td><%= detail.label %></td>
          <td>
            <% if (detail.type === "dropdown") { %>
              <%= detail.options[user.get(detail.key)] %>
            <% } else if (detail.type === "text") { %>
              <%= user.get(detail.key) %>
            <% } else if (detail.type === "age_range") { %>
              <%= user.get("min_age") + " - " + user.get("max_age ")%>
            <% } %>
          </td>
        </tr>
      <% }); %>
    </table>
  </form>
</section>

