<section id="photos">
  <% _.each(user.albums().models, function (album) { %>
    <h3 class="album-name"><%= album.escape("name") %></h3>
    <ul class="album-photos group" >
      <% _.each(album.pictures().models, function (picture) { %>
        <li class="photo" data-id="<%= album.id %>">
          <img src="<%= picture.escape("small_img") %>">
          <button
            class="delete-pic"
            data-id="<%= picture.id %>">DELETE</button>
          <button
            class="set-profile-pic"
            data-id="<%= picture.id %>"
            >MAKE PROFILE PIC</button>
        </li>
      <% }) %>
      </ul>
      <div class="new-photo">
        <form class="picture-create" data-id="<%= album.id %>">
          <input
            type="file"
            class="image-upload"
            data-id="<%= album.id %>"
            name="image">

          <label>
            Add caption:
            <input type="text" name="picture[caption]">
          </label>
          <input type="submit" value="UPLOAD PHOTO">
        </form>
      </div>

    <% }) %>

  <form class="album-create">
    <h3>Create a new album:</h3>
    <label>name:</label>
    <input
      type="text"
      name="album[name]">
    <input type="submit" value="SAVE">
  </form>

</section>

<div id="modal" class="modal">

  <article class="modal-content">
    <span class="modal-close hide-modal">&times;</span>
    <ul class="pictures"></ul>
  </article>

  <div class="modal-screen hide-modal"></div>

</div>

<script>

  window.showModal = function(){
    $("#modal").addClass("is-active");
  };

  window.hideModal = function(){
    $("#modal").removeClass("is-active");
  }

  $("body").on("click", ".hide-modal", window.hideModal);
  $("body").on("click", "li.photo", window.showModal);

</script>

