<!DOCTYPE html>
<html>
<head>
  <title>OkClone</title>
  <%= stylesheet_link_tag  "application", media: "all", "data-turbolinks-track" => true %>
  <% if signed_in? %>
    <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <% end %>
  <%= csrf_meta_tags %>


</head>

<body>
<% if signed_in? %>
<nav class="top group">
  <h1 class="logo">OKCLONE</h1>
  <ul class="nav-wrap group">
    <li>
      <a href="/#/users/<%= current_user.id %>">PROFILE</a>
    </li>

    <li>
      <a href="">SETTINGS</a>
    </li>

    <li>
    	<form action="<%= session_url %>" method="POST">
    		<%= auth_token %>
    		<input type="hidden" name="_method" value="DELETE">
    		<button>SIGN OUT</button>
    	</form>
    </li>

</nav>

<nav class="side">
  <a href="<%= root_url + "#/users" %>">MATCHES</a>
  <a href="<%= root_url + "#/questions" %>">QUESTIONS</a>
  <a href="">MESSAGES</a>

</nav>

<% end %>

<%= yield %>



</body>

</html>
